<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'user_management/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}

</head>
<body style="background-color: #FFFFFF">
    <header>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="card">
                {% block container%} {% endblock %}
            </div>
        </div>
        {% block body %} {% endblock %}
    </main>
</body>
</html>