<!DOCTYPE html>

<html lang="ru">
<head>
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="base.css">
<!--    <style>-->
<!--        .container {-->
<!--display: flex;-->
<!--justify-content: center;-->
<!--align-items: center;-->
<!--height: 100vh;-->
<!--background-color: #FFFFFF;}-->
<!--    </style>-->
</head>
<body style="background-color: #FFFFFF">
 <div class="container">
     <div class="card">
         {% block content%} {% endblock %}
     </div>
 </div>
</body>
</html>