{% extends 'flights/base.html' %}
{% load static %}

{% block title %}Поиск авиабилетов - Билеты.ру{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'flights/css/search.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="mb-4">Поиск авиабилетов</h2>
        <div class="search-form">
                <form method="post" id="cityForm" class="row">
                    {% csrf_token %}
                    <div class="form-group col-md-4">
                        {{ form.currencyCode.label }}:
                        {{ form.currencyCode }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.originLocationCode.label }}:
                        <div class="autocomplete">
                            {{ form.originLocationCode }}
                            <div id="originList" class="autocomplete-items"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.destinationLocationCode.label }}:
                        <div class="autocomplete">
                            {{ form.destinationLocationCode }}
                            <div id="destinationList" class="autocomplete-items"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.departureDate.label }}:
                        {{ form.departureDate }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.returnDate.label }}:
                        {{ form.returnDate }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.adults.label }}:
                        {{ form.adults }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.children.label }}:
                        {{ form.children }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.infants.label }}:
                        {{ form.infants }}
                    </div>
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Найти билеты</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row" id="flightResults">
        <!-- Здесь будут отображаться карточки рейсов -->
    </div>


<script src="{% static 'flights/js/search.js' %}"></script>
{% endblock %}
